/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/database/ca-key.pem
docker/database/ca.pem
docker/database/client-cert.pem
docker/database/client-key.pem
/workspace/docker/database/private_key.pem
/workspace/docker/database/public_key.pem
/workspace/docker/database/server-cert.pem
/workspace/docker/database/server-key.pem
docker
config
database 