/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.devcontainer
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/database/ca-key.pem
docker/database/ca.pem
docker/database/client-cert.pem
docker/database/client-key.pem
/workspace/docker/database/private_key.pem
/workspace/docker/database/public_key.pem
/workspace/docker/database/server-cert.pem
/workspace/docker/database/server-key.pem
/docker
config
database 
docker/database/#ib_16384_0.dblwr
docker/database/binlog.000002
docker/database/binlog.index
docker/database/ib_buffer_pool
docker/database/ib_logfile0
docker/database/ibdata1
docker/database/ibtmp1
docker/database/mysql.ibd
docker/database/undo_001
docker/database/undo_002
docker/database/#innodb_temp/temp_1.ibt
docker/database/#innodb_temp/temp_2.ibt
docker/database/#innodb_temp/temp_3.ibt
docker/database/#innodb_temp/temp_4.ibt
docker/database/#innodb_temp/temp_5.ibt
docker/database/#innodb_temp/temp_6.ibt
docker/database/#innodb_temp/temp_7.ibt
docker/database/#innodb_temp/temp_8.ibt
docker/database/#innodb_temp/temp_9.ibt
docker/database/#innodb_temp/temp_10.ibt
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2019_08_19_000000_create_failed_jobs_table.php
